<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>day0515</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<!--   <servlet>
  	<servlet-name>FileBoardController</servlet-name>
  	<servlet-class>com.the.controller.FileBoardController</servlet-class>
  	<multipart-config>
	  	<location>C:\Users\ysurk\eclipse-workspace\day0515\WebContent\upload</location>
	  	<max-file-size>-1</max-file-size>
	  	<max-request-size>-1</max-request-size>
	  	<file-size-threshold>1024</file-size-threshold>
  	</multipart-config>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>FileBoardController</servlet-name>
  	<url-pattern>/fboard/*</url-pattern>
  </servlet-mapping>
   -->
</web-app>